<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- Text interpolation -->
  <h1>{{title}}</h1>
  <img src='{{ lienImage }}' >
  <p>Multiplier 2 et 3 donne {{ 2 * 3 }}</p>
  <p>Le calcul dans le composant retourne {{ calculer(2, 3) }}</p>

  <!-- property binding -->
  <div>
    <img [src]='lienImage'>;
    <input [type]="inputType">
  </div>

  <!-- class & style binding -->
  <div class="square" [style.background-color]="color"></div>

  <!-- event binding -->
  <div>
    <button (click)="changeColor('green', $event)">Changer couleur</button>
  </div>

  <!-- Attribute binding -->
  <div>
    <table>
      <tr><td [attr.colspan]="1 + 1">One-Two</td></tr>
    </table>
  </div>
  <!-- Two ways binding -->
  <!-- Pour utiliser ngModel, il est necessaire d'importer le module FormsModule -->
  <div>
    <input type="text" [(ngModel)]="content">
    <h2>{{content}}</h2>
  </div>

  <!--  -->
</body>
</html>
